@import (reference) "~ui/styles/mixins.less";

.health-metric-vis {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;

  .health-metric-value {
    font-weight: bold;
    .ellipsis();
    
    .red {
        color: red;
    }
    .green {
        color: green;
    }
    .yellow {
        color: yellow;
    }
  }

  .health-metric-container {
    text-align: center;
    padding: 1em;
  }
}